<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" class="perfect-scrollbar-on">
<head>
    {{> header }}
</head>

<body class="sidebar-mini">
    <div class="wrapper">
        {{> left codeActive="active" codeExpand="true" codeMenuActive="active" codeMenuShow="show"}}
        <div class="main-panel ps ps--active-y">
            {{> top title="code"}}

            <div class="content">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h4 class="col-sm-11">
                                Settings
                            </h4>
                            <div class="col-sm-1">
                                <button style="float:right;" class="btn btn-primary btn-sm tim-icons icon-simple-add"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <table id="codeListtable"  class="table" role="grid" aria-describedby="datatable_info" style="width:100%">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center header" tabindex="0" aria-controls="datatable" style="width:7%" >타입</th>
                                        <th class="text-center header" tabindex="0" aria-controls="datatable" style="width:7%">구분</th>
                                        <th class="text-center header" tabindex="0" aria-controls="datatable" style="width:20%">데이터1</th>
                                        <th class="text-center header" tabindex="0" aria-controls="datatable" style="width:20%">데이터2</th>
                                        <th class="text-center header" tabindex="0" aria-controls="datatable" style="width:20%">데이터3</th>
                                        <th class="text-center" tabindex="0" aria-controls="datatable"  style="width:10%">삭제</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#codeList}}
                                        <tr role="row">
                                            <td class="text-center">{{type}}</td>
                                            <td class="text-center">{{gubun}}</td>
                                            <td class="text-center">{{data1}}</td>
                                            <td class="text-center">{{data2}}</td>
                                            <td class="text-center">{{data3}}</td>
                                            <td class="text-center delete"><i class="tim-icons icon-simple-remove"></i></td>
                                        </tr>
                                    {{/codeList}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}
    <script type="text/javascript" src="/viewJs/settings/code.js"></script>
</body>
</html>
