<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" class="perfect-scrollbar-off">
<head>
    {{> header }}
</head>

<body class="sidebar-mini">
    <div class="wrapper">
        {{> left mailActive="active" menuExpand="true" mailRealtimeMenuActive="active" mailMenuShow="show"}}
        <div class="main-panel ps ps--active-y">
            {{> top title="Realtime"}}

            <div class="content">
                <div class="card">
                    <div class="card-header">
                        <h4>Realtime 설정</h4>
                    </div>
                </div>

                <div class="card card-timeline card-plain">
                    <div class="card-body">
                        <ul class="timeline timeline-simple">
                            <li class="timeline-inverted">
                                <div class="timeline-badge danger">
                                    <i class="tim-icons icon-chat-33"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <span class="badge badge-danger">Realtime 관리제목</span>
                                    </div>
                                    <div class="timeline-body">
                                        <input class="form-control" type="text" name="title" id="title">
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge success">
                                    <i class="tim-icons icon-caps-small"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <span class="badge badge-success">발송메시지 작성</span>
                                    </div>
                                    <div class="timeline-body">
                                        <textarea style="resize: none;" name="contents" id="contents"></textarea>
                                    </div>
                                </div>
                            </li>
                            <!--<li class="timeline-inverted">-->
                                <!--<div class="timeline-badge info">-->
                                    <!--<i class="tim-icons icon-send"></i>-->
                                <!--</div>-->
                                <!--<div class="timeline-panel">-->
                                    <!--<div class="timeline-heading">-->
                                        <!--<span class="badge badge-info">Realtime 설정 저장</span>-->
                                    <!--</div>-->
                                    <!--<div class="timeline-body">-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <div class="row">
                                <div class="col-sm-10"></div>
                                <div class="col-sm-2" >
                                    <button type="button" style="float:right;" name="realtimeSave" class="btn btn-primary " >저장</button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="loginId" value="{{loginId}}">

    {{> footer }}
    <script>
        var entryData = '{{entryData.[0]}}';
        var realTiScdlId, realTiSetTitle, realTiSetHtml;
        if(entryData){
            realTiScdlId = '{{entryData.[0].schdlId}}';
            realTiSetTitle = '{{entryData.[0].schdlName}}';
            realTiSetHtml = '{{entryData.[0].filePathHtml}}';
        }
    </script>
    <script type="text/javascript" src="/viewJs/mail/send/realtime/realtimeSetting.js"></script>
</body>
</html>
