{{#realtimeMasterList}}
<div class="card" style="border:1px solid #e14eca">
    <div class="card-header row">
        <h4 class="card-title col-sm-10">{{schdlName}} </h4>
        <input type="checkbox" name="checkbox" class="bootstrap-switch col-sm-2" data-on-label="ON" data-off-label="OFF" data-schdlId="{{schdlId}}" {{#if activeYn 'Y'}}checked{{/if}}>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">
                <ul class="nav nav-pills nav-pills-primary flex-column">
                    <li class="nav-item">
                        <button type="button" name="realtimeSetting" class="btn btn-primary btn-icon btn-simple btn-sm" >
                            <i class="tim-icons icon-settings"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" name="realtimeSetting" class="btn btn-primary btn-icon btn-simple btn-sm" >
                            <i class="tim-icons icon-trash-simple"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 tab-content">
                <div class="" id="">
                        <h5>스케줄 아이디 : {{schdlId}}</h5>
                </div>
                <div class="" id="">
                    <h5>파일경로 : {{filePath}}</h5>
                </div>
                <div class="" id="">
                    <h5>상태 : {{sendFlagStr}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{{/realtimeMasterList}}
