<div class="navbar-minimize-fixed" style="opacity: 0;">
    <button class="minimize-sidebar btn btn-link btn-just-icon">
        <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
        <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
    </button>
</div>
<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                AL
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                ALARME
            </a>
        </div>
        <ul class="nav">
            <li class="{{mailActive}}">
                <a data-toggle="collapse" href="#mailMenu" aria-expanded="{{menuExpand}}">
                    <i class="tim-icons icon-email-85"></i>
                    <p>
                        Mail
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse {{mailMenuShow}}" id="mailMenu">
                    <ul class="nav">
                        <li class="{{mailDashboardMenuActive}}">
                            <a href="/mail/dashboard">
                                <span class="sidebar-mini-icon">D</span>
                                <span class="sidebar-normal"> Dashboard </span>
                            </a>
                        </li>
                        <li class="{{mailReceiverMenuActive}}">
                            <a href="/mail/receiver">
                                <span class="sidebar-mini-icon">R</span>
                                <span class="sidebar-normal"> Receiver </span>
                            </a>
                        </li>
                        <li class="{{mailCampaignMenuActive}}">
                            <a href="/mail/campaign">
                                <span class="sidebar-mini-icon">C</span>
                                <span class="sidebar-normal"> Campaign </span>
                            </a>
                        </li>
                        <li class="{{mailRealtimeMenuActive}}">
                            <a href="/mail/realtime">
                                <span class="sidebar-mini-icon">R</span>
                                <span class="sidebar-normal"> Realtime </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="{{codeActive}}">
                <a data-toggle="collapse" href="#settingsMenu" aria-expanded="{{codeExpand}}">
                    <i class="tim-icons icon-settings-gear-63"></i>
                    <p>
                        Settings
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse {{codeMenuShow}}" id="settingsMenu">
                    <ul class="nav">
                        <li class="{{codeMenuActive}}">
                            <a href="/settings/code">
                                <span class="sidebar-mini-icon">C</span>
                                <span class="sidebar-normal"> Code </span>
                            </a>
                        </li>
                        <li class="{{userMenuActive}}">
                            <a href="/settings/users">
                                <span class="sidebar-mini-icon">U</span>
                                <span class="sidebar-normal"> Users </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="ps__rail-x" style="width: 80px; left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 48px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; height: 520px; right: 0px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 346px;"></div>
        </div>
    </div>
</div>

